@font-face {
  font-family: "Proxima";
  src: url(./../assets/fonts/ProximaSoft-Regular.woff2);
}

@font-face {
  font-family: ProximaBold;
  src: url(./../assets/fonts/ProximaSoft-ExtraBold.woff);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima";
}

.quickPlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow-x: hidden;
  /* background: yellow; */
}

/* .quickPlay{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: purple;
} */

.quickPlay__root {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* background-color: red; */
}

.quickPlay__hang-body {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: deeppink; */
}

.quickPlay__hang-body>img {
  position: absolute;
  z-index: 2;
}

.quickPlay__buttons {
  width: 300px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* backgro  und-color: yellow; */
}

.quickPlay__button {
  position: relative;
  width: 40px;
  height: 40px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

.quickPlay__blanksParent {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* background-color: green; */
}

.wordsWrapper {
  display: flex;
  gap: 10px;
  order: 2;
}

.quickPlay__alphabet {
  width: 20px;
  height: 23px;
  font-weight: bold;
  font-size: 22px;
  border-bottom: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}


.quickPlay__blanksParent--top {
  width: 80%;
  font-size: 30px;
}


.quickPlay__paragraph {
  display: none;
}

.quickPlay__wrong::after {
  content: " ";
  position: absolute;
  left: -1px;
  top: -2px;
  transform-origin: left;
  transform: rotate(45deg);
  width: 149%;
  height: 2px;
  border-radius: 4px;
  z-index: 2;
}

.quickPlay__wrong::before {
  content: " ";
  position: absolute;
  left: -1px;
  bottom: -2px;
  transform-origin: left;
  transform: rotate(-45deg);
  width: 149%;
  height: 2px;
  border-radius: 4px;
  z-index: 2;
}

.quickPlay__wrong,
.quickPlay__correct {
  border: 2px solid #6d6d6d;
  opacity: 0.7;
}

.quickPlay__wrong::after,
.quickPlay__wrong::before {
  color: #6d6d6d;
  background-color: #6d6d6d;
  opacity: 0.7;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 10px 0;
  background-color: rgb(64, 64, 64);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
}

.game-over,
.game-win {
  font-size: 28px;
  font-weight: 700;
}

.game-over {
  color: red;
}

.game-win {
  color: green;
}

.correct-word {
  color: rgb(0, 94, 201);
  font-size: 20px;
}

.result-gif {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.reset {
  padding: 7px 20px;
  color: blue;
  font-size: 18px;
  border: 0;
  border-radius: 4px;
}

.homeIcon {
	position: absolute;
	top: 2%;
	left: 2%;
	cursor: pointer;
}